<div class="container h-100">
  <img class="m-5" style="width: -webkit-fill-available" src="logo.svg"/>

  <div class="m-4">
    <p>Cher Ms Bohu,</p>

    <p>Nous avons le plaisir de vous informer que vous bénéficiez de <span class="fw-bold">2 entrées</span> au studio de
      Londres. Vous ne trouverez pas ci-joint la liste des ouvrages et équipements nécessaires au bon déroulement de
      votre scolarité (j'ai pas la place).</p>

    <p>La rentrée étant <span class="fw-bold">pas fixée</span>, nous attendons ton hibou de confirmation.</p>

    <p>Veuillez croire, cher Ms Bohu, en l'expression de nos sentiments distingués.</p>

    <p>Minerva McGonagall<br>Directrice adjointe</p>
  </div>
</div>
